body{
    /*width: 90rem, teljes képernyő 1920px vagy 1440*/

    min-height: 100vh;
    margin: 0 auto;
    z-index: 0;
    background-color: #151515;
    color: #FFFF;
    font-family: 'Space Grotesk', 'sans-serif';
}



.Heading_XL{
    font-family: 'Space Grotesk', 'sans-serif';
    font-size: 5.5rem;
    font-weight: 700;
    letter-spacing: -2.5px;
    margin: 0;
    padding: 0;

}


.Heading_L{
    font-family: 'Space Grotesk', 'sans-serif';
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -1.5px;
    margin: 0;
    padding: 0;  

}


.Heading_M{
    font-family: 'Space Grotesk', 'sans-serif';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
    padding: 0;
    margin-top: 1.25rem;
    margin-bottom: 0.4375rem;  

}


.paragraph {
    font-family: 'Space Grotesk', 'sans-serif';
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    display: inline-block;
    margin: 0;
    padding: 0;
}

a{
    border: none;
    text-decoration: none;
    color: #FFFF;
}


a:hover{
    color:#4EE1A0
}
 

.projects_paragraph{
    padding-right: 1.125rem;
}


.underline{
    border-bottom: 4px solid #4EE1A0;
    text-decoration: none;

}


.body_wrapper{
    width: 69.375rem;
    margin: auto;
}


.header{
    display: flex;
    height: 4.437rem;
    align-items: center;
    justify-content: space-between;

}

.header_name{
    display: inline-block;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -0.444444px;

}


.header_social_logo:hover{
    fill: #4EE1A0;
}


.table_wrapper{
    display: inline-block;
    /* margin-right: 12rem; */
    margin-bottom: auto;
    z-index: 2;
}


.social_media_links_table{
    display: inline-block;
    border-spacing: 25px 0;
}


.hero_text_box{
    width: 44.125rem;
    position: absolute;
    margin-top: 12.1875rem;
    padding: 0;
}


.hero_text_box::after{
    content: url(assets/images/pattern-rings.svg);
    position: absolute;
    width: 33.125rem;
    left: -265px;
    top: -67px;
}


.welcome_h3{
    margin-top: 2.6875rem;
    margin-bottom: 4.125rem;
}


.hero_pic{
    display: flex;
    width: 445px;
    height: 720px;
    align-items: center;
    justify-content: center;
    margin-top: -4.437rem;
    margin-left: auto;
    z-index: -10;
}


.hero_text_box::before{
    content: url(assets/images/pattern-circle.svg);
    position: absolute;
    top: 326px;
    left: 37.53125rem; 
    z-index: 2;
}


.btn{
    display: inline-block;
    background-color: none;
    color: #FFFF;
    padding: 0;
    padding-bottom: 0.625rem;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid #4EE1A0;

    font-family: 'Space Grotesk', 'sans-serif';
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 2.28571px;
}


.btn:hover{
    color: #4EE1A0;
    transition-duration: 0.4s;
}


.btn_project{
    margin: 0;
    margin-top: 3rem;
}


.skills_grid{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3.625rem;
    grid-column-gap: 1.875rem;
    margin-top: 6.5rem;
    border-top: 1px solid lightgray;
    padding-top: 4.5rem;
}


.skills_grid::before{
    content: url(assets/images/pattern-rings.svg);
    position: absolute;
    top: 15.875rem;
    left: 970px;
}


.projects_grid_header{

    display: flex;
    max-width: 69.375rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 8.5625rem;
    margin-bottom: 5rem;
}


.header_p{
    text-align: center;
}


.projects_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.875rem;
    grid-row-gap: 4.3125rem;
}


.projects_grid_text{
    position: relative;
    top: 405px;
}


.project_paragraph{
    display: inline-block;
    margin: 0;
    padding: 0;
}


.projects_img{
    width: 540px;
    height: 400px;
}


.project_text{
    position: relative;
}


.project_image_container{
    position: relative;
    width: 540px;
    height: 400px;
}


.project_image_container:hover .overlay{
    opacity: 0.8;

}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: #151515;
    cursor: pointer;
}


.overlay_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFF;
    z-index: 10;
}


.footer{
    display: grid;
    background-color: #242424;
    height: max-content;
    margin-top: 8.6875rem;
}


.footer_wrapper{
    width: 69.375rem;
    position: relative;
    margin: auto;
    margin-top: 5.25rem;
    /* margin-inline: auto; */
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-column-gap: 13.75rem;
}


.footer_contact{
    position: relative;
    padding: 0;
    min-width: 27.8125rem;
}


.footer_wrapper::before{
    content: url(assets/images/pattern-rings.svg);
    position: absolute;
    width: 33.125rem;
    top: 15.1875rem;
    left: -12.8125rem; 
    z-index: 2;
}


.footer_copyright{
    display: flex;
    grid-column: span 2;
    border: none;
    border-top: 2px solid lightgray;
    margin: 0;
    margin-bottom:5.75rem;
    padding: 0;
    padding-top: 2.9375rem;
    margin-top: 5.75rem;
    justify-content: space-between;
}


#form{
    width: 27.8125rem;
    height: auto;
    background: transparent;
    
}


.input_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding-bottom: 1rem;

}


.form_small{
    display: flex;
    justify-content: space-between;
    font-family: 'Space Grotesk', 'sans-serif';
    color: #FFFF;
}


.input_control label{
    visibility: hidden;
    display: flex;
    font-size: 0.75rem;
    line-height: 1.625rem;
    letter-spacing: -0.22px;
    margin-left: 1rem;
    margin-top: 0.6rem;
    opacity: 0.5;
}


.input_control input, textarea{
    font-family: 'Space Grotesk', 'sans-serif';
    color: #FFFF;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #FFFF;
    background-color: transparent;

    padding-left: 1rem;
    padding-bottom: 1rem;
    
}


.input_control input:focus, textarea:focus{
    outline: 0; 
}


.input_control.success input{
    border-color: #4EE1A0;
} 


.input_control.error{
    color: #FF6F5B;
    position: relative;
    display: flex;
    margin-left: auto;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: -0.17px;
}


.input_control.error input{
    border-color: #FF6F5B; 
}


.input_control.error::before{
    content: "!";
    position: absolute;
    left: 25.4125rem;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    border-radius: 50%;
    outline: 1px solid #FF6F5B;
    display: flex;
    align-items: center;
    justify-content: center;   
}


small{
    display: flex;
    align-items: center;
    margin-top: 0.6rem;
}


#form_btn{
    display: flex;
    background-color: transparent;
    margin-top: 2rem;
    margin-left: auto;
}



