body{
    /*width: 90rem, teljes képernyő 1920px vagy 1440*/
    width: 90rem;
    margin: 0 auto;
    z-index: 0;
    background-color: #151515;
    color: #FFFF;
    font-family: 'Space Grotesk', 'sans-serif';
}



h1{
    font-family: 'Space Grotesk', 'sans-serif';
    font-size: 5.5rem;
    font-weight: 700;
    letter-spacing: -2.5px;
    margin: 0;
    padding: 0;
}


h3{
    font-family: 'Space Grotesk', 'sans-serif';
    color:  #D9D9D9;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    z-index: 10;

}

/* .Heading_XL{
    display: inline-block;
} */

.Heading_L{
    font-family: 'Space Grotesk', 'sans-serif';
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -1.5px;
    margin: 0;
    padding: 0;
    
    
}

.Heading_M{
    font-family: 'Space Grotesk', 'sans-serif';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
    padding: 0;
    margin-top: 1.25rem;
    margin-bottom: 0.4375rem;
    
}
.paragraph{
    font-family: 'Space Grotesk', 'sans-serif';
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-right: 1.125rem;


    
}

.underline{
    border-bottom: 4px solid #4EE1A0;
    text-decoration: none;

}

.wrapper{
    width: 90rem;
}

.body_wrapper{
    width: 69.375rem;
    margin: auto;

/*     margin-right: 10.3125rem;
    margin-left: 10.3125rem; */


}

/* .underline{
    border-bottom: 4px solid #4EE1A0;
    text-decoration: none;

} */

.header{
    display: flex;
    height: 4.437rem;
    align-items: center;
    justify-content: space-between;

}

.header_name{
    display: flex;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -0.444444px;
    margin-top: 2.4375rem;
    /* margin-left: 10.3125rem; */
}



.header_social_logo:hover{
    fill: #4EE1A0;
}

.table_wrapper{
    display: flex;
    margin-top: 2.6875rem;
    /* margin-right: 12rem; */
    margin-bottom: auto;
    z-index: 2;

}

.social_media_links_table{
    border-spacing: 25px 0;
}



.hero_text_box{
    width: 44.125rem;
    position: absolute;
    margin-top: 12.1875rem;
    /* margin-left: 10.3125rem; */
    padding: 0;
}

.hero_text_box::after{
    content: url(assets/images/pattern-rings.svg);
    position: absolute;
    left: -265px;
    top: -67px;
}


.welcome_h3{
    margin-top: 2.6875rem;
    margin-bottom: 4.125rem;
}


.hero_pic{
    display: flex;
    width: 445px;
    height: 720px;
    align-items: center;
    justify-content: center;
    margin-top: -4.437rem;
    /* margin-right: 10.3125rem; */
    margin-left: auto;
    z-index: -10;
}

.hero_text_box::before{
    content: url(assets/images/pattern-circle.svg);
    position: absolute;
    top: 326px;
    left: 37.53125rem; 
    z-index: 2;
}


.btn{
    display: inline-block;
    background-color: none;
    color: #FFFF;
    padding: 0;
    padding-bottom: 0.625rem;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid #4EE1A0;


    font-family: 'Space Grotesk', 'sans-serif';
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 2.28571px;
}



.btn:hover{
    color: #4EE1A0;
    transition-duration: 0.4s;
}

.btn_project{
    margin: 0;
    margin-top: 48px;
}

.skills_grid{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 58px;
    grid-column-gap: 30px;
    margin-top: 6.5rem;
    /* margin-left: 10.3125rem;
    margin-right: 10.3125rem; */
    border-top: 1px solid lightgray;
    padding-top: 4.5rem;

}

.skills_grid::before{
    content: url(assets/images/pattern-rings.svg);
    position: absolute;
    top: 254px;
    left: 984px;

}

.projects_grid_header{

    display: flex;
    max-width: 69.375rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 8.5625rem;
    margin-bottom: 5rem;

}

.header_p{
    text-align: center;
}


.projects_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.875rem;
    grid-row-gap: 4.3125rem;

}

.projects_grid_text{
    position: relative;
    top: 405px;
}

.project_paragraph{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.projects_img{
    width: 540px;
    height: 400px;
}

.project_text{
    position: relative;
}


.project_image_container{
    position: relative;
    width: 540px;
    height: 400px;
}


.project_image_container:hover .overlay{
    opacity: 0.8;

}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: #151515;
    cursor: pointer;
}


.overlay_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFF;
    z-index: 10;
}






.footer{
    background-color: #242424;
    height: 42.1875rem;
    margin-top: 8.6875rem;
}

